/*--------------footer-----------------*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.224);
    height: 200px;
    margin-top: 40px;
    font-size: 13px;
}

.footerwrap1 {
   flex: 1;

}

.footerwrap2 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.footerinfo {
    display: flex;
    padding: 50px;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    color: #4682d0;
    transition: color 0.3s ease;
    font-weight: 600;

}

.footerwrap1  a {
    text-decoration: none;
    color: #4682d0;
   
}

.inline {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footernav {
    display: flex;
    gap: 20px;
    padding: 50px;
}


.footernav ul {
    list-style: none; 
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}


.footernav a, .footerinfo a {
    text-decoration: none;
    color: #4682d0;
    transition: color 0.3s ease;
    font-weight: 600;
    position: relative;
    display: inline-block;
}

.footernav a::before, .footerinfo a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #4682d0;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.footernav a:hover::before, .footerinfo a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center; 
        padding: 20px;
    }

    .footerwrap1,
    .footerwrap2 {
        flex: unset;
        width: 100%; 
        text-align: center; 
        margin-bottom: 20px; 
    }

    .footerwrap2 {
        justify-content: center; 
    }
}
@media (max-width: 480px) {
    footer {
        padding: 15px;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .footerwrap1, .footerwrap2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .footerinfo, .footernav {
        padding: 5px;
        margin-bottom: 5px;
        width: 100%; 
    }

    .footerinfo p, .footernav li {
        font-size: 14px; 
        line-height: 1.5;
    }

    .footerinfo p a, .footernav a {
        font-size: 14px;
        text-align: center;
    }

    .footerwrap2 ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column; 
        gap: 10px; 
    }

    .footerwrap2 li {
        text-align: center; 
    }

    .footernav {
        display: none;
    }
}







