/*------- header-----------*/
header {
    padding: 30px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;   
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: start;
}



.headernav ul {
    text-decoration: none;
    list-style: none;
    padding: 30px;
    display: flex;
    gap: 20px; 
    font-size: 13px;

}

.headernav li {
    display: inline;

}

.headernav a {
    text-decoration: none;
    color: #f8f4ec;

}
